*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
}

body {
  font-family: Montserrat,"sans serif";
  line-height: 1.5em;
}
iframe{
    width: 100%;
}
.titre{
    padding : 50px;
    font-size: 40px;
    color : black;
}
  
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }
.item2 {
    padding: 0px;
    display: inline-block;
    vertical-align:middle;
  }
  #rectangle{
    width:300px;
    height:400px;
    background-color:lightgray;
    border-color: black;
    border-radius: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    margin-left: 350%;
    margin-top: -400px;
    margin-bottom: 50px;
  }
  
  .item3 {
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 30px;
  }
  .item4 {
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    
  }
  .titre{
    margin-left: 15%;
    margin-top: 20px;
    font-weight:bold;
    color:#1d1c1c;
    font-size:30px;
  }
  .text {
    padding:10px;
    border-radius:10px;
    box-shadow:2px 2px 18px rgba(0,0,0,0.3);
    width: 400px;
    margin-left: 200px;
    margin-top:30px;
  }
  input{
      border:none;
  }
 