body {
  font-family: Montserrat,"sans serif";
  line-height: 1.5em;
}
h1 {
  padding-top: 20px;
  font-size: 30px;
}
h3 {
  padding-top: 20px;
  font-size: 24px;
  font-weight: 100;
  color: #444;
}
a{
  text-decoration: none;
}
.welcome {
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  height: 500px;
  width: auto;
  background-image: url(../img/home-background.png);
  color: #fff;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.searchbar {
  width: auto;
}

.textfield {
  color: #444;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.384);
  margin-bottom: 50px;
  margin-left: 46px;
  margin-bottom: 27px;

  z-index: 1;
}
.search {
  border-radius: 20px 0 0 20px;
}
.filter {
  width: 20%;
  display: inline;
  border-radius: 0;
  color: #444;
  background: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  font-size: 14px;
  padding: 10px 0px;
  border: none;
  letter-spacing: 1px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.384);
  margin-bottom: 50px;
  margin-left: 0px;
  text-align: center;
  margin-bottom: 27px;
  z-index: 1;
  overflow: hidden;
}

.button {
  flex: auto;
  background-color: #f14f3f;
  cursor: pointer;
  border-radius: 5px 5px;
  color: #fff;
  border: 0;
  border: none;
  letter-spacing: 1px;
  outline: none;
  box-sizing: border-box;
  text-align: center;
  margin: 10px;
  padding: 10px 40px;
  font-weight: 700;
  font-size: 14px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.searchbutton {
  flex: auto;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  border: 2px solid rgba(0, 0, 0, 0.384);
  margin-bottom: 50px;
  margin-left: 0px;
  text-align: center;
  margin-bottom: 27px;
}

#register {
  font-weight: 800;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  height: 300px;
  width: 100%;
  background-image: url(../img/background_register.png);
  background-repeat: no-repeat;
  background-position: center center;
}

/***********************************************************************/
/*cards*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  max-width: 1250px;
  margin: 0 auto;
}

.card {
  margin: 1.5em;
  max-width: 400px;
  border: solid 1px #092c48;
  border-radius: 30px;
  padding: 2%;
  font-weight: bold;
}
.card-head {
  display: flex;
  margin-bottom: 20px;
  height: 20%;
}
.card-title {
  padding-top: 10px;
  padding-left: 10px;
  text-align: center;

}
.icon {
  height: 40px;
  width: auto;
}

.card:hover {
  border: none;
  box-shadow: 0 0px 50px 10px rgba(116, 116, 116, 0.25);
}

.card-body {
  padding-top: 20px;
  text-align: justify;
}

.card-footer {
  height: 20%;
  text-align: center;
}
.btn,
.btn.outline:hover {
  color: #fff;
  background: #092c48;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 0 2px #092c48;
  padding: 0.5em 1.25em;
  min-width: 15ch;
}

.outline,
.btn:hover {
  color: #092c48;
  background: #fff;
}

.spacer {
  margin-top: 1.5rem;
}
/****************************************/
