body{
    font-family: 'sans serif';
}
.welcome{
    color: #fff;
    height: 500px;
    width:100%;
    background-image: url(../img/home-background.png);
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-text
{
    padding-top: 10%;
    padding-bottom: 40%;
    
}

#register{
    height: 300px;
    width:100%;
    background-image: url(../img/background_register.png);
}