.buttons {
  display: flex;
}
.buttons div {
  margin: 0px 10px;
  color: #fffffa;
  cursor: pointer;
}
.buttons div > * {
  pointer-events: none;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
.wrapper.list {
  grid-template-columns: 1fr;
}
.wrapper .col {
  width: calc(100% - 20px);
  height: 200px;
  background: #f8f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6a6a6a;
  margin: 10px;
  font-family: "Lora", serif;
  font-weight: 20;
  font-size: 18px;
  margin-bottom: 13px;
  padding: 20px 171px;
  width: 25%;
  /*transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;*/
}
.buttons {
  display: flex;
}
.buttons div {
  margin: 0px 10px;
  color: #fffffa;
  cursor: pointer;
}
.buttons div > * {
  pointer-events: none;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
.wrapper.list {
  grid-template-columns: 1fr;
}

@media only screen and (max-width: 575px) {
  .wrapper .col a {
    font-size: 16px;
    padding: 15px 24px;
  }
}
.wrapper :hover {
  background-color: #560bad;
  color: #fff;
}
.wrapper a.active {
  background-color: #560bad;
  color: #fff;
}

/*---------------------------------------*/
body {
  font-family: "sans serif";
}
.navigation {
  height: 70px;
  background: #fff;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a {
  color: #444;
}

.brand a:visited {
  color: #4444;
  text-decoration: none;
}
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-list li {
  float: left;
  position: relative;
}
li a {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  color: #444;
  text-decoration: none;
}

li a:hover {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  color: #f14f3f;
  text-decoration: none;
}

.welcome {
  color: #fff;
  height: 500px;
  width: 100%;
  background-image: url(../img/home-background.png);
  text-align: center;
  color: #fff;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro-text {
  padding-top: 10%;
  padding-bottom: 40%;
}

#register {
  height: 300px;
  width: 100%;
  background-image: url(../img/background_register.png);
}
