.welcome button {
  border: 2px solid white;
  color: white;
  background-color: transparent;
  margin-top: 200px;
  width: 150px;
  height: 50px;
  margin-right: 80%;
}
a{
  text-decoration: none;
}
.welcome {
  color: #fff;
  height: 300px;
  width: 100%;
  background-image: url(../img/home-background.png);
  text-align: center;
  color: #fff;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.image-profil {
  overflow: hidden;
  -webkit-border-radius: 30%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 190px;
  height: 190px;
  margin-top: -90px;
  margin-left: 43%;
}
.details h1 {
  font-size: 15px;
  margin-top: 40px;
  margin-right: 1%;
  color: lightslategray;
}
.details h2 {
  font-size: 15px;
  margin-top: 10px;
  margin-right: 1%;
}
.icon-profil1 {
  margin-top: -150px;
  margin-left: 12%;
}
.icon-profil2 {
  margin-top: -30px;
  margin-left: 15%;
}
.icon-profil3 {
  margin-top: -30px;
  margin-left: 18%;
}
.down button {
  width: 130px;
  height: 42px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  background-color: white;
  outline: none;
  margin-top: -25px;
  margin-left: 75%;
}
.title p {
  margin-left: 15%;
  margin-top: -870px;

  font-weight: bold;
  color: #1d1c1c;
  font-size: 30px;
}
.para p {
  margin-left: 15%;
  margin-top: 40px;
  color: #000;
  font-size: 17px;
  margin-right: 40%;
  margin-bottom: 50px;
}
table {
  border-collapse: collapse;
  border: 2px solid rgb(212, 212, 212);
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin-left: 15%;
  margin-top: 80px;
  width: 900px;
}
th[scope="col"] {
  background-color: white;
  color: #000;
  font-size: 15px;
  text-emphasis: none;
}
th {
  border: 1px solid rgb(212, 212, 212);
  padding: 10px;
}
.item2 {
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}
#rectangle {
  width: 300px;
  height: 900px;
  background: none;
  border-color: black;
  border-radius: 20px;
  border: 2px black solid;
  margin-left: 350%;
}

.item1 {
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
}

.item3 {
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 100px;
  margin-left: 20px;
  margin-top: 50px;
}
.item4 {
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}
.title2 p {
  margin-left: 15%;
  margin-top: 10px;

  font-weight: bold;
  color: #1d1c1c;
  font-size: 30px;
}
.Education {
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  margin-top: 50px;
}
.level1 {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0px 4px;
  margin-left: 30px;
}

.level1 p {
  color: #1d1c1c;
  font-size: 15px;
  line-height: 0px;
}
.level1 button {
  background-color: white;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 100px;
  height: 30px;
}
.level1 a {
  color: black;
}
.level2 {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-right: 500px;
}
.level2 p {
  color: #1d1c1c;
  font-size: 13px;
  line-height: 0px;
}
.level2 button {
  background-color: white;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 100px;
  height: 30px;
}
.level2 a {
  color: black;
}
.work-experience {
  height: 600px;
  background-color: #ffffff;
  padding: 2% 10% 0px 10%;
  margin-top: 0px;
  margin-left: 80px;
}
.work-text p:nth-child(1) {
  font-weight: bold;
  color: #1d1c1c;
  font-size: 30px;
  line-height: 0px;
}
.work-text p:nth-child(2) {
  font-weight: bold;
  color: #3e3d3d;
  font-size: 15px;
  line-height: 5px;
}
.work-text p:nth-child(3) {
  color: #7e7d7d;
  font-size: 16px;
}
.work-text {
  width: 500px;
  margin: 50px 0px;
}
.box-container {
  display: flex;
  justify-content: space-between;
  margin-right: 400px;
}
.box-1,
.box-2,
.box-3 {
  width: 250px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0px 4px;
}
.box-1 span,
.box-2 span,
.box-3 span {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2) {
  color: #ffffff;
  font-size: 23px;
  line-height: 0px;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3) {
  color: #8f8f8f;
  text-align: center;
  width: 230px;
  margin: 0px 0px 20px 0px;
}
.Professional-Skills {
  height: 600px;
  background-color: #ffffff;
  padding: 2% 10% 0px 10%;
  margin-top: -300px;
  margin-left: 80px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
h2 {
  font-size: 17px;
}

p {
  font-size: 15px;
}
h2,
p,
span {
  color: #fff;
}
.scnd-font-color {
  color: #9099b7;
}
.titular {
  display: block;
  line-height: 60px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.horizontal-list {
  margin: 0;
  padding-left: 80px;
  list-style-type: none;
}
.horizontal-list li {
  float: left;
}
.block {
  margin-left: 15px;
  background: white;
  border-radius: 5px;
  float: left;
  width: 250px;
  height: 390px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.3);
}

.menu-box {
  height: 360px;
}

.donut-chart-block {
  overflow: hidden;
}
.donut-chart-block .titular {
  padding: 10px 0;
}
.os-percentages li {
  width: 75px;
  border-left: 1px solid #394264;
  text-align: center;
  background: #50597b;
}
.os {
  margin: 0;
  padding: 10px 0 5px;
  font-size: 15px;
}

.os-percentage {
  margin: 0;
  padding: 0 0 15px 10px;
  font-size: 25px;
}
.grafico {
  padding: 2rem 1rem 1rem;
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
  font-size: 80%;
}
.grafico span {
  display: block;
  position: absolute;
  bottom: 3rem;
  left: 2rem;
  height: 0;
  border-top: 2px solid;
  transform-origin: left center;
}
.grafico span > span {
  left: 100%;
  bottom: 0;
}
[data-valor="25"] {
  width: 75px;
  transform: rotate(-45deg);
}
[data-valor="8"] {
  width: 24px;
  transform: rotate(65deg);
}
[data-valor="13"] {
  width: 39px;
  transform: rotate(-45deg);
}
[data-valor="5"] {
  width: 15px;
  transform: rotate(50deg);
}
[data-valor="23"] {
  width: 69px;
  transform: rotate(-70deg);
}
[data-valor="12"] {
  width: 36px;
  transform: rotate(75deg);
}
[data-valor="15"] {
  width: 45px;
  transform: rotate(-45deg);
}

[data-valor]:before {
  content: "";
  position: absolute;
  display: block;
  right: -4px;
  bottom: -3px;
  padding: 4px;
  background: #fff;
  border-radius: 50%;
}
[data-valor="23"]:after {
  content: "+" attr(data-valor) "%";
  position: absolute;
  right: -2.7rem;
  top: -1.7rem;
  padding: 0.3rem 0.5rem;
  background: #50597b;
  border-radius: 0.5rem;
  transform: rotate(45deg);
}
[class^="eje-"] {
  position: absolute;
  left: 0;
  bottom: 0rem;
  width: 100%;
  padding: 1rem 1rem 0 2rem;
  height: 80%;
}
.eje-x {
  height: 2.5rem;
}
.eje-y li {
  height: 25%;
  border-top: 1px solid #777;
}
[data-ejeY]:before {
  content: attr(data-ejeY);
  display: inline-block;
  width: 2rem;
  text-align: right;
  line-height: 0;
  position: relative;
  left: -2.5rem;
  top: -0.5rem;
}
.eje-x li {
  width: 33%;
  float: left;
  text-align: center;
}

.donut-chart {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto 2rem;
  border-radius: 100%;
}
p.center-date {
  background: #394264;
  position: absolute;
  text-align: center;
  font-size: 28px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0;
  padding-left: 50px;
}
.center-date span.scnd-font-color {
  line-height: 0;
}
.recorte {
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
  height: 100%;
  position: absolute;
  width: 100%;
}
.quesito {
  border-radius: 50%;
  clip: rect(0px, 100px, 200px, 0px);
  height: 100%;
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 1.5rem;
}
#porcion1 {
  transform: rotate(0deg);
}

#porcion1 .quesito {
  background-color: #e64c65;
  transform: rotate(180deg);
}
#porcion2 {
  transform: rotate(160deg);
}
#porcion2 .quesito {
  background-color: #e64c65;
  transform: rotate(180deg);
}

.container1 {
  margin-right: 150px;
}
.titular1 {
  display: block;
  line-height: 60px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.horizontal-list1 {
  margin: 0;
  padding-left: 80px;
  list-style-type: none;
}
.horizontal-list1 li {
  float: left;
}
.block1 {
  margin-left: 15px;
  background: white;
  border-radius: 5px;
  float: left;
  width: 250px;
  height: 390px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.3);
}

.menu-box {
  height: 360px;
}

.donut-chart-block {
  overflow: hidden;
}
.donut-chart-block .titular1 {
  padding: 10px 0;
}
.os-percentages li {
  width: 75px;
  border-left: 1px solid #394264;
  text-align: center;
  background: #50597b;
}
.os {
  margin: 0;
  padding: 10px 0 5px;
  font-size: 15px;
}

.os-percentage {
  margin: 0;
  padding: 0 0 15px 10px;
  font-size: 25px;
}
.grafico {
  padding: 2rem 1rem 1rem;
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
  font-size: 80%;
}
.grafico span {
  display: block;
  position: absolute;
  bottom: 3rem;
  left: 2rem;
  height: 0;
  border-top: 2px solid;
  transform-origin: left center;
}
.grafico span > span {
  left: 100%;
  bottom: 0;
}
[data-valor="25"] {
  width: 75px;
  transform: rotate(-45deg);
}
[data-valor="8"] {
  width: 24px;
  transform: rotate(65deg);
}
[data-valor="13"] {
  width: 39px;
  transform: rotate(-45deg);
}
[data-valor="5"] {
  width: 15px;
  transform: rotate(50deg);
}
[data-valor="23"] {
  width: 69px;
  transform: rotate(-70deg);
}
[data-valor="12"] {
  width: 36px;
  transform: rotate(75deg);
}
[data-valor="15"] {
  width: 45px;
  transform: rotate(-45deg);
}

[data-valor]:before {
  content: "";
  position: absolute;
  display: block;
  right: -4px;
  bottom: -3px;
  padding: 4px;
  background: #fff;
  border-radius: 50%;
}
[data-valor="23"]:after {
  content: "+" attr(data-valor) "%";
  position: absolute;
  right: -2.7rem;
  top: -1.7rem;
  padding: 0.3rem 0.5rem;
  background: #50597b;
  border-radius: 0.5rem;
  transform: rotate(45deg);
}
[class^="eje-"] {
  position: absolute;
  left: 0;
  bottom: 0rem;
  width: 100%;
  padding: 1rem 1rem 0 2rem;
  height: 80%;
}
.eje-x {
  height: 2.5rem;
}
.eje-y li {
  height: 25%;
  border-top: 1px solid #777;
}
[data-ejeY]:before {
  content: attr(data-ejeY);
  display: inline-block;
  width: 2rem;
  text-align: right;
  line-height: 0;
  position: relative;
  left: -2.5rem;
  top: -0.5rem;
}
.eje-x li {
  width: 33%;
  float: left;
  text-align: center;
}

.donut-chart1 {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto 2rem;
  border-radius: 100%;
}
p.center-date {
  background: #394264;
  position: absolute;
  text-align: center;
  font-size: 28px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0;
  padding-left: 50px;
}
.center-date span.scnd-font-color {
  line-height: 0;
}
.recorte {
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
  height: 100%;
  position: absolute;
  width: 100%;
}
.quesito1 {
  border-radius: 50%;
  clip: rect(0px, 100px, 200px, 0px);
  height: 100%;
  position: absolute;
  width: 100%;
  font-size: 1.5rem;
}
#porcion11 {
  transform: rotate(0deg);
}

#porcion11 .quesito1 {
  background-color: #e64c65;
  transform: rotate(180deg);
}
#porcion21 {
  transform: rotate(160deg);
}
#porcion21 .quesito1 {
  background-color: #e64c65;
  transform: rotate(180deg);
}
.container2 {
  margin-right: 150px;
}
.titular2 {
  display: block;
  line-height: 60px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.horizontal-list2 {
  margin: 0;
  padding-left: 80px;
  list-style-type: none;
}
.horizontal-list2 li {
  float: left;
}
.block2 {
  margin-left: 15px;
  background: white;
  border-radius: 5px;
  float: left;
  width: 250px;
  height: 390px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.3);
}

.menu-box {
  height: 360px;
}

.donut-chart-block {
  overflow: hidden;
}
.donut-chart-block .titular2 {
  padding: 10px 0;
}
.os-percentages2 li {
  width: 75px;
  border-left: 1px solid #394264;
  text-align: center;
  background: #50597b;
}
.os2 {
  margin: 0;
  padding: 10px 0 5px;
  font-size: 15px;
}
.os-percentage2 {
  margin: 0;
  padding: 0 0 15px 10px;
  font-size: 25px;
}
.grafico {
  padding: 2rem 1rem 1rem;
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
  font-size: 80%;
}
.grafico span {
  display: block;
  position: absolute;
  bottom: 3rem;
  left: 2rem;
  height: 0;
  border-top: 2px solid;
  transform-origin: left center;
}
.grafico span > span {
  left: 100%;
  bottom: 0;
}
[data-valor="25"] {
  width: 75px;
  transform: rotate(-45deg);
}
[data-valor="8"] {
  width: 24px;
  transform: rotate(65deg);
}
[data-valor="13"] {
  width: 39px;
  transform: rotate(-45deg);
}
[data-valor="5"] {
  width: 15px;
  transform: rotate(50deg);
}
[data-valor="23"] {
  width: 69px;
  transform: rotate(-70deg);
}
[data-valor="12"] {
  width: 36px;
  transform: rotate(75deg);
}
[data-valor="15"] {
  width: 45px;
  transform: rotate(-45deg);
}

[data-valor]:before {
  content: "";
  position: absolute;
  display: block;
  right: -4px;
  bottom: -3px;
  padding: 4px;
  background: #fff;
  border-radius: 50%;
}
[data-valor="23"]:after {
  content: "+" attr(data-valor) "%";
  position: absolute;
  right: -2.7rem;
  top: -1.7rem;
  padding: 0.3rem 0.5rem;
  background: #50597b;
  border-radius: 0.5rem;
  transform: rotate(45deg);
}
[class^="eje-"] {
  position: absolute;
  left: 0;
  bottom: 0rem;
  width: 100%;
  padding: 1rem 1rem 0 2rem;
  height: 80%;
}
.eje-x {
  height: 2.5rem;
}
.eje-y li {
  height: 25%;
  border-top: 1px solid #777;
}
[data-ejeY]:before {
  content: attr(data-ejeY);
  display: inline-block;
  width: 2rem;
  text-align: right;
  line-height: 0;
  position: relative;
  left: -2.5rem;
  top: -0.5rem;
}
.eje-x li {
  width: 33%;
  float: left;
  text-align: center;
}

.donut-chart2 {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto 2rem;
  border-radius: 100%;
}
p.center-date {
  background: #394264;
  position: absolute;
  text-align: center;
  font-size: 28px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0;
  padding-left: 50px;
}
.center-date span.scnd-font-color {
  line-height: 0;
}
.recorte {
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
  height: 100%;
  position: absolute;
  width: 100%;
}
.quesito2 {
  border-radius: 50%;
  clip: rect(0px, 100px, 200px, 0px);
  height: 100%;
  position: absolute;
  width: 100%;
  font-size: 1.5rem;
}
#porcion12 {
  transform: rotate(0deg);
}

#porcion12 .quesito2 {
  background-color: #e64c65;
  transform: rotate(180deg);
}
#porcion22 {
  transform: rotate(160deg);
}
#porcion22 .quesito1 {
  background-color: #e64c65;
  transform: rotate(180deg);
}

.title3 p {
  margin-left: 230px;
  margin-top: -30px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #1d1c1c;
  font-size: 30px;
}
